@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
  }
  
  *::-webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
  }
  
  
  *::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  }